doctype html
html( lang="en" )
    head
        title Restesque Example
    body    
        script( src='../libs/packet.js' )
        script( src='../libs/restesque.js' )
        script( src='vendor/jquery-2.1.0.min.js' )
        script( src='vendor/W.min.js' )
        script( src='example.main.js' )